@inherits LayoutComponentBase
<MudThemeProvider />
<MudSnackbarProvider />
<style>
    .mud-snackbar-location-top-right {
        top: -10px !important;
        right: 8px !important
    }

    body {
        background-image: url("https://media.istockphoto.com/id/1511300761/vi/anh/h%C3%ACnh-ba-chi%E1%BB%81u-tr%C3%A1i-%C4%91%E1%BA%A5t-ban-%C4%91%C3%AAm-v%C3%A0-k%E1%BA%BFt-n%E1%BB%91i-v%E1%BB%9Bi-c%C3%A1c-t%C3%B2a-nh%C3%A0-ch%E1%BB%8Dc-tr%E1%BB%9Di-m%E1%BA%A1ng-l%C6%B0%E1%BB%9Bi-th%C3%A0nh-ph%E1%BB%91-ho%E1%BA%B7c.jpg?s=612x612&w=0&k=20&c=xQNPUgdnW4-GL2NWetvK2r-XChSO3rbvsNj7zg6055k=");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

</style>
<MudLayout>
    @Body
</MudLayout>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload"> Reload </a>
    < a class= "dismiss" >🗙</ a >
</div>